*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: helvetica;
}

li{
    list-style: none;
}

 /* BARRA NAV */
.main-nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #255EE9;
    font-size: 18px;
}

/* .dashed-border{
    border: 2px dashed black;
} */

.main-menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white
}

header{
    padding: 15px 70px;
    background-color: #255EE9;
}

.login{
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    background-color: white;
    color: black;
}

/* FINE BARRA NAV */

/* PRIMA SEZIONE ROSA */

.sect1{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 665px;
}

h2{
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 50px;
}

.formac{
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
}

.blackbutton{
    background-color: #333;
    padding: 15px;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    border: 2px solid #333;
}

button{
    margin-top: 20px;
    margin-inline-end: 20px;
}

.container{
    max-width: 1200px;
    height: 400px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.pink-square{
    margin: auto;
    max-width: 900px;
    height: 400px;
    font-size: 25px;
    color: white;
}

/* FINE PRIMA SEZIONE */

/* SECONDA SEZIONE QUADRATO AZZURRO ROSA */

.sect2{
    background-color: white;
    height: 500px;
    padding-bottom: 50px;
}

.square1{
    height: 400px;
    width: 1200px;
    flex-basis: 60%;
}

.square2{
    height: 400px;
    width: 1200px;
    flex-basis: 40%;
    font-size: 22px;
}

.flex{
    display: flex;
}

/* FINE SECONDA SEZIONE */

/* TERZA SEZIONE QUADRATO ROSA AZZURRO */

.sect3{
    background-color: lightgrey;
    height: 500px;
    padding-bottom: 50px;
}

.square3{
    height: 400px;
    max-width: 1200px;
    flex-basis: 40%;
    font-size: 22px;
}

.square4{
    height: 400px;
    max-width: 1200px;
    flex-basis: 60%;
}

/* FINE TERZA SEZIONE */

/* QUINTA SEZIONE QUADRATO VERDE */

.sect5{
    height: 1000px;
}

.green{
    margin: auto;
    width: 1200px;
    height: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 22px;
}

.formac2{
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7289DA;
    border: 1px solid #7289DA;
}

.stars{
    width: 551px;
    height: 50px;
    margin: auto;
    background-image: url(img/stars.svg);
    background-size: contain;
    
}

/* FINE QUINTA SEZIONE */

/* SESTA SEZIONE A COLONNE - FOOTER*/

footer{
    font-size: 16px;
    color: white;
}

[class^='col'] {
    border: 1px solid white;
    flex-basis: 17.5%;
}

.services{
    color: #7289DA;
}

.col-big{
    font-size: 30px;
}

.col-1{
    flex-basis: 30%;
}


.rule{
    color: white;
    padding: 30px 0px;
}

footer{
    background-color: #333;
}

   /* FINE COLONNE */

.creditbar{
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.sign-in{
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    margin: 0;
}
