*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /* BARRA NAV */
.main-nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAA520;
    list-style: none;
}

.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

header{
    padding: 15px 70px;
    background-color: #ADD8E6;
}

/* FINE BARRA NAV */

/* PRIMA SEZIONE ROSA */

.sect1{
    background-color: blue;
    height: 500px;
}

.container{
    max-width: 1200px;
    height: 400px;
    padding-top: 50px;
    margin: auto;
}

.pink-square{
    margin: auto;
    background-color: #EE82EE;
    max-width: 900px;
    height: 400px;
}

/* FINE PRIMA SEZIONE */

/* SECONDA SEZIONE QUADRATO AZZURRO ROSA */

.sect2{
    background-color: white;
    height: 500px;
    padding-bottom: 50px;
}

.square1{
    background-color: #1E90FF;
    height: 400px;
    width: 1200px;
    flex-basis: 60%;
}

.square2{
    background-color: #FFC0CB;
    height: 400px;
    width: 1200px;
    flex-basis: 40%;
}

.flex{
    display: flex;
}

/* FINE SECONDA SEZIONE */

/* TERZA SEZIONE QUADRATO ROSA AZZURRO */

.sect3{
    background-color: lightgrey;
    height: 500px;
    padding-bottom: 50px;
}

.square3{
    background-color: #FFC0CB;
    height: 400px;
    max-width: 1200px;
    flex-basis: 40%;
}

.square4{
    background-color: #1E90FF;
    height: 400px;
    max-width: 1200px;
    flex-basis: 60%;
}

/* FINE TERZA SEZIONE */

/* QUINTA SEZIONE QUADRATO VERDE */

.sect5{
    background-color: grey;
    height: 1000px;
}

.green{
    margin: auto;
    background-color: green;
    width: 1200px;
    height: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* FINE QUINTA SEZIONE */

/* SESTA SEZIONE A COLONNE - FOOTER*/

.sect6{
    background-color: black;
}

.col1{
   
}

